DATABASE_URL=postgresql://postgres:postgres@localhost:5432/panda-market
PORT=3000

DATABASE_URL="postgresql://user:password@host:port/dbname"
ACCESS_TOKEN_SECRET="access_secret_key_고유값"
REFRESH_TOKEN_SECRET="refresh_secret_key_고유값"